body{
background-color: #E6E6E6;
}

/* #ADD8E6 */
.button1{
  width:30%;
  margin-left:35%;
  margin-bottom:4px;
}

.center-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-border {
  border-radius: 10px!important;
}



.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 8px 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* form drag drop box*/

.drag-and-drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Set the height as needed */
  border: 2px dashed #ccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-left:10%;
  margin-right:10%;
}

.drag-and-drop-label {
  cursor: pointer;
  text-align: center;
  size: 100%;
}

.dotted-box {
  padding: 90px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-input {
  display: none;
}
