<h1 style="text-align:center">Sell Product</h1>

<div class="container">
  <%= render "form", product: @product %>
</div>


<br>

<div>
  <%= link_to "Back", home_index_path, class:"btn btn-primary" %>
</div>
